.hint-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    input.form-control {
        padding-right: 8rem; // espaço para a hint
    }

    .input-hint {
        position: absolute;
        right: 0.75rem;
        font-size: 0.85rem;
        background: rgba(255, 255, 255, 0.8);
        padding: 0 0.25rem;
        pointer-events: none; // não bloqueia clique no input
        display: flex;
        align-items: center;
        gap: 4px;

        kbd {
            background-color: #e9ecef;
            color: #919191;
            border-radius: 4px;
            padding: 0.1rem 0.35rem;
            font-size: 0.75rem;
            box-shadow: inset 0 -1px 0 #adb5bd;
        }
    }
}

.searched-item-list {
    z-index: 1000;
}